<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%-5p] [%-20t] %C : %m%n"/>
        </Console>
        <RollingFile name="ROLL" fileName="${log-path}/linkviewer-web.log"
                     filePattern="${log-path}/$${date:yyyy-MM}/linkviewer-web-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d [%-5p] [%-20t] %C : %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="ROLL"/>
        </Root>
    </Loggers>
</Configuration>
